<h2>Удаление заказа</h2>
@model WebApplication3.Models.Order
@using (Html.BeginForm("DeleteOrder", "Home"))
{
    <div>
        @Html.LabelFor(m => m.Order_Id, "Id")
        @Html.DisplayFor(model => model.Order_Id)
    </div>
    <div>
        @Html.LabelFor(m => m.Customer_Id, "Id заказчика")
        @Html.DisplayFor(model => model.Customer_Id)
    </div>
    <div>
        @Html.LabelFor(m => m.Title, "Название")
        @Html.DisplayFor(model => model.Title)
    </div>
    <div>
        @Html.LabelFor(m => m.Price, "Цена")
        @Html.DisplayFor(model => model.Price)
    </div>
    <div>
        <input type="submit" value="Delete" />
    </div>
}